<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API INFOCAR</title>
</head>
<body>
    <h1>Seja bem vindo!!!</h1>
    <p>desenvolvida por <a href="https://github.com/hitalloazevedo">Hitallo Azevedo</a></p>
    <p>Está api fornece dados sobre carros, para acessar <a href="http://localhost:5000/carros">clique aqui</a></p>
    <p>ola</p>
</body>
</html>